# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cmake
Makefile
*.dir
*.marks

# Mac Stuff
*.DS_Store

# Editor
*.vscode
.vs

# build
*build
*out

# Doxygen
*docs

# PlatformIO
.pio

# QtCreator cmake temp files
CMakeLists.txt.user*

# KDE hidden file artifacts
.directory

# QtCreator creates this folder
CMakeFiles

*.orig
*.rej


# Vector XL Driver Library SDK files are Vector's proprietary, licensed software and are
# user-provided, not distributed with this project (see the VectorXL block in
# hardware_integration/CMakeLists.txt).
hardware_integration/include/isobus/hardware_integration/vxlapi.h
hardware_integration/lib/Windows/vxlapi.lib
hardware_integration/lib/Windows/vxlapi64.lib
